body{
    box-sizing: border-box;
    position: relative;
    background-image: url('../images/1_CiFccsrrZLCb0JHrEp7zaw.jpeg');
    background-repeat: repeat;
    background-size: auto;
}

.head{
    height: 15vh;
    background: rgba(171, 172, 183, 0.7);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.head p {
    margin-left: 20px;
}
.link {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: large;
}
.link:hover {
    color: white;
    text-decoration: underline;
}
.activation-toolbar{
    height: 10vh;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}
.activation-button{
    min-width: 15vw;
    min-height: 7vh;
    margin-top: 30px;
    font-size: large;
    border: solid  1px;
    border-radius: 3px;
}
.activation-button:hover {
    cursor: pointer;
    transform:scaleY(1.1);
    box-shadow: 5px 5px 3px black;
}
.activation-button:active {
    transform: translateY(1.5px);
}
.form-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.archive-form{
    width: 35vw;
    min-height: 70vh;
    background-color: #93A8AC;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid  #841A95 2px;
    border-radius: 10px;
}
.archive-form input {
    border-radius: 2px;
    box-shadow: 2px 2px 5px;
}.archive-form select {
    border-radius: 2px;
    box-shadow: 2px 2px 5px;
}
.archive-form button {
    border-radius: 2px;
    box-shadow: 2px 2px 10px;
    min-width: 15vw;
}
.archive-form p {
    font-weight: bold;
    font-size: 18px;
}
#text-area{
    max-width: 30vw;
    max-height: 25vh;
    min-width: 30vw;
    max-height: 25vh;
}

.random-generator{
    width: 20vw;
    height: 25vh;
    background-color: #93A8AC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid #841A95 2px;
    border-radius: 10px;
}
.random-generator input {
    border-radius: 2px;
    box-shadow: 2px 2px 5px;
}
.random-generator button {
    border-radius: 2px;
    box-shadow: 2px 2px 5px;
    min-width: 12vw;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.archive-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 470px;
    background-color: #93A8AC;
    border: solid #841A95 2px;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
.archive-info  {
    width: 210px;
    height: 30px;
    background-color: black;
    border: 2px solid #841A95;
    font-size: 13px;
    box-shadow: 4px 4px 5px;
}
#delete-btn {
    height: 40px;
    width: 120px;
    margin-bottom: 5px;
    border: solid;
    border-radius: 3px;
}
#delete-btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px 3px black;
}
#delete-btn:active {
    transform: translateY(1.5px);
}
#races-box {
    width: 210px;
    height: 70px;
    background-color: black;
    border: 2px solid #841A95;
    font-size: 13px;
    box-shadow: 4px 4px 5px; 
}
.scroll{
    margin: 5px;
    padding: 5px;
    width: 210px;
    height: 100px;
    background-color: black;
    border: 2px solid #841A95;
    font-size: 13px;
    box-shadow: 4px 4px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
.random-game-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 470px;
    background-color: #93A8AC;
    border: solid #841A95 2px;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
.random-game-info {
    width: 210px;
    height: 30px;
    background-color: black;
    border: 2px solid #841A95;
    font-size: 13px;
    box-shadow: 4px 4px 5px;
}
#random-game-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dice-roller{
    min-width: 15vw;
    min-height: 20vh;
    background-color: #93A8AC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid  #841A95 2px;
    border-radius: 10px;
}
#dice-roller-button {
    border-radius: 2px;
    box-shadow: 2px 2px 5px;
}
.dice-roller span{
    font-weight: bold;
    font-size: larger;
}

.hidden{
    display: none;
}
